<html>
    <head>
        <title> {% block title %}
        {% endblock title %}| Text Utility </title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% load static %}
        <link href={% static 'css/home.css' %} rel="stylesheet">
    </head>
    <body>
    <!-- page-header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-caption">
                            <h1 class="page-title">Text Utilities</h1>
                            <h2 class="display-5 text-center" style="color:white">Provide us the Text. We do the rest Work</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- news -->
        {% block body %}
        {% endblock body %}
    <body>
</html>