{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}
    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action='/result' method='post'>
                            {% csrf_token %}
                            <h1>Enter the raw text:</h1>
                            <div class="form-group purple-border">
                                <textarea class="form-control" name="txtArea" rows="8"></textarea>
                            </div>
                            <input type='hidden' name='taskName' id='task'>
                            <button type="submit" class="btn btn-primary" onclick='setType("removePunch")'>Remove Punctuations</button>
                            <button type="submit" class="btn btn-primary" onclick='setType("upperCase")'>Convert UpperCase</button>
                            <button type="submit" class="btn btn-primary" onclick='setType("beautifyData")'>Beautify Data</button>
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script>
     function setType(task) {
         var name = document.getElementById('task');
         name.value = task;
     }
    </script>
{% endblock body %}